<div style=" display: flex;
            justify-content: center;
            align-items: center;height: 89vh; width: 100vw">
    <img class="img-responsive" src="assets/Airbus-Logo-2001-2010.png">
    <mat-card>
        <h3>{{signUpSuccessful}}</h3>
        <form [formGroup]="formGroup" (ngSubmit)="login(formGroup.value)" class="form">
            <div style="display: flex; flex-direction: column; align-content: center">
                <mat-form-field>
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="email" email>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
                <span class="text-danger" *ngIf="loginError">{{loginError}}</span>
                <div style="display: flex; flex-direction: row;">
                    <button type="button"  [disabled]="!formGroup.valid" mat-raised-button (click)="signUp()">Sign up</button>
                    <button color="primary" [disabled]="!formGroup.valid" mat-raised-button>Login</button>
                </div>
            </div>
        </form>
    </mat-card>
</div>
