<div style=" display: flex;
            justify-content: center;
            align-items: center;height: 89vh; width: 100vw">
    <mat-card>
        <form [formGroup]="formGroup" (ngSubmit)="login(formGroup.value)" class="form">
            <div style="display: flex; flex-direction: column; align-content: center">
                <mat-form-field>
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
                <div style="display: flex; flex-direction: row;">
                    <button type="button"  mat-raised-button>Sign up</button>
                    <button color="primary" mat-raised-button>Login</button>
                </div>
            </div>
        </form>
    </mat-card>
</div>
