<mat-card>
    <div>
        Search By Product Category:
        <mat-form-field floatLabel="never">
            <input matInput placeholder="Search" [formControl]="category" autocomplete="off">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="searchByCategory()">Search</button>
        <button mat-raised-button *ngIf="showResetButton" (click)="resetSearch()">Reset</button>
    </div>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
    <kendo-grid
            [data]="products"
            [selectable]="selectable"
            (cellClick)="cellClickHandler($event)"
            kendoGridSelectBy="productId"
            [selectedKeys]="selectedProductIds"
            (add)="addHandler()">
        <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand mat-raised-button *ngIf="!formGroup">Add new</button>
            <button mat-raised-button color="primary" *ngIf="selectedProductIds.length > 0" (click)="deleteProduct(selectedProductIds)"> Delete Product</button>
            <div *ngIf="formGroup">
                <button
                        mat-raised-button
                        color="primary"
                        [disabled]="!formGroup.valid"
                        (click)="saveRow()"
                >
                    Save
                </button>
                <button mat-raised-button (click)="cancelHandler()">
                    Cancel
                </button>
            </div>
        </ng-template>
        <kendo-grid-checkbox-column [width]="50"></kendo-grid-checkbox-column>
        <kendo-grid-column field="productId" title="Product ID"></kendo-grid-column>
        <kendo-grid-column field="productName" title="Product Name"></kendo-grid-column>
        <kendo-grid-column field="productCategory" title="Product Category">
        </kendo-grid-column>
        <kendo-grid-column field="units" title="Units"></kendo-grid-column>
    </kendo-grid>
</mat-card>